# Build-Ausgaben
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Logs
*.log

# Temp-Files
.*\.drawio\.bkp
